html, body {
    font-family: Calibri, Arial, Verdana, sans-serif;
    background-color: #ffffff; 
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

:root { /* Default value for the header height. */
    --header-height: 62px;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background-color: #d82727;
    border-bottom: solid 2px #d4d4d4;
    margin: 0;
    flex-shrink: 0;
}

header img {
    width: 42px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
    align-self: center;
}

#search-bar {
    font-family: inherit;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: solid 2px #ec8989;
    border-radius: 20px;
    background-color: #c51a1a;
    color: #ffffff;
    margin: 12px;
}

#search-bar::placeholder {
    color: #b1b0b0;
    opacity: 1;
}

.screen {
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: var(--header-height);
    margin-bottom: 80px;
}

.screen.active {
    display: flex;
}

.screen-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.screen-header h1 {
    grid-column: 2;
}

.reminder-container {
    display: flex;
    flex-flow: column;
    font-family: inherit;
    background-color: #ffffff;
    border: solid 3px #000000;
    border-radius: 20px;
    color: rgb(0,0,0);
    padding: 15px 15px;
    font-size: 16px;
    min-width: 0;
    margin-top: 10px;
}

.reminder-container-top-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.reminder-title {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

.reminder-btn-icons {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reminder-btn-icons img {
    width: 26px;
    height: 26px;
}

.reminder-time-display {
    font-size: 40px;
    margin: 6px;
}

.reminders-screen.reminder-day {
    display: inline-block;
    text-align: center;
	border: 1px solid currentcolor;
	color: #189934;
	margin-right: .8rem;
    padding-top: 10px;
	width: 40px;
    height: 30px;
	border-radius: 1.3rem;
}

.reminders-screen.reminder-day.clicked {
	background: #189934;
	color: #fff;
}

.reminder-timer-selection {
    display: flex;
    align-items: center;
    width: 330px;
    height: 120px;
    margin-bottom: 20px;
}

.select-div {
    width: 90px;
    font-size: 40px;
    font-family: inherit;
}

#add-reminder-alert {
    font-size: 36px;
    margin: 0px;
    margin-bottom: 4px;
}
    #add-reminder-alert.added {
        color: green;
    }
    #add-reminder-alert.error {
        color: red;
    }

.day-check {
    appearance: none;
    -webkit-appearance: none;
}

.btn.day-check-primary {
    display: inline-block;
	border: 1px solid currentcolor;
	color: #189934;
	margin-right: .8rem;
    padding-top: 10px;
	width: 40px;
    height: 30px;
	border-radius: 1.3rem;
}

label:has(input[type=checkbox]:checked) {
	background: #189934;
	color: #fff;
}

label:has(input[type=checkbox]:not(:checked)):hover {
	opacity: 0.5;
}

.btn.add-reminder {
    font-family: inherit;
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background: #eb9393;
}

.btn.btn.add-reminder:hover {
    opacity: 0.8;
}

.back-btn {
    grid-column: 1;
    justify-self: start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-btn img {
    width: 35px;
    height: 32px;
}

.reminder-add-btn {
    width: 95%;
}

.add-btn {
    grid-column: 1;
    justify-self: start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

.add-btn img {
    width: 35px;
    height: 35px;
}

.screen-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
   display: flex;
   flex-direction: column;
   width: 90%;
   justify-content: center;
   gap: 20px;
}

.main-button {
    display: flex;
    flex-direction: row;
    font-family: inherit;
    background-color: #ffffff; 
    border: solid 3px #000000;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    min-width: 0;
}

.main-button:hover {
    background-color: #dfdcdc; 
}

.main-button.refills{
    border: solid 3px #f65f5f;
}

.main-button.reminders{
    border: solid 3px #5d97ed;
}

.main-button.status{
    border: solid 3px #ece384;
}

.main-button.history{
    border: solid 3px #efb13d;
}

.main-button.family{
    border: solid 3px #6fea7f;
}

.main-button.contact{
    border: solid 3px #a334ed;
}

.main-img {
    width: 32px; 
    height: 32px;
    margin-right: 15px;
    align-self: center;
}

.btn-title {
    text-decoration: underline;
    font-size: 18px;
}

.btn-desc{
    font-size: 16px;
}

footer {
    position: fixed;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 2px #000000;
    align-items: center;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 35px;
    height: 30px;
}

footer span {
    font-weight: bold;
    text-align: center;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
}

#health-btn {
    color: #d82727;
    text-decoration: underline;
}

.contact-card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    border: solid 2px black;
    background-color: rgb(202, 201, 201);
    padding: 18px;
    border-radius: 20px;
    justify-content: space-between;
}

.contact-title {
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
}

.contact-info {
    font-size: 26px;
}

.contact-card img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.rx-container {
    display: grid;
    display: inline-grid;
    font-family: inherit;
    background-color: #ffffff;
    border: solid 3px #000000;
    border-radius: 20px;
    color: rgb(0,0,0);
    padding: 15px 15px;
    font-size: 16px;
    min-width: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "prescription-name prescription-name btn-icons"
        "amount time time"
        "description description description";
    column-gap: 10px;
    row-gap: 10px;
}

.rx-title {
    grid-area: prescription-name;
    font-size: 22px;
}

.rx-btn-icons {
    grid-area: btn-icons;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rx-btn-icons img {
    width: 26px;
    height: 26px;
}

.rx-amount {
    grid-area: amount;
}

.rx-time {
    grid-area: time;
}

.rx-description {
    grid-area: description;
}

.text-underline {
    text-decoration: underline;
}

.rx-icon-size {
    width: 26px;
    height: 26px;
}

.rx-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.input-field{
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 15px;
}
.submit-btn{
    display: block;
    margin: 35px auto 0;
    padding: 10px;
    background: #FFB3B3;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.1s;
}
.submit-btn:hover{
    background: #FF9A9A;
}
